/*
Theme Name: Office master
Theme URI: https://pallab.com
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our 2015 default theme is clean, blog-focused, and designed for clarity. Twenty Fifteen's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.7.07
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


/*Menu css*/
.navbar-default .navbar-nav > .current-menu-item  > a, .navbar-default .navbar-nav > .current-menu-item  > a:hover, .navbar-default .navbar-nav > .current-menu-item  > a:focus {
    color: #fff;
    background-color: #6BAAA8;
}
.current-menu-item  {
    background: #74B9B9 !important;
    color: white;
}
.services-group {
    margin-top: 30px;
}

.services-row {
    margin-top: -30px;
}